<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <title>도시락</title>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="grid-container">
      <div class="gallery" id="seoul" style="overflow:auto;">
        <h5 class="mb-3">인기 대출 도서</h5>
        <div class="seoul">
          <% if (isNaN(seoul)) { %>
            <% seoul.forEach(function(book) { %>
              <div class="card mb-1 home-card" style="width: 10rem; cursor:pointer;" onclick="location.href='/books/<%= book._id%>';">
                  <img class="card-img-top" src="<%= book.cover %>">
                  <div class="card-body p-2" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                    <a><h7 class="card-title ellipsis"><%= book.title %></h7></a>
                  </div>
              </div>
            <% }) %>
            <div class="card mb-1 home-card" style="width: 10rem; cursor:pointer;" onclick="location.href='/books?type=인기';">
              <div class="card-body p-2" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                <a><h7 class="card-title ellipsis">더보기</h7></a>
              </div>
            </div>
          <% } else { %>
            <p>등록된 도서가 없습니다.</p>
          <% } %>
        </div>
      </div>
      <div class="gallery" id="gimcheon">
        <h5 class="mb-3">베스트 셀러</h5>
        <div class="gimcheon">
          <% if (isNaN(gimcheon)) { %>
            <% gimcheon.forEach(function(book) { %>
              <div class="card mb-1 home-card" style="width: 10rem; cursor:pointer;" onclick="location.href='/books/<%= book._id%>';">
                  <img class="card-img-top" src="<%= book.cover %>">
                  <div class="card-body p-2" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                    <a><h7 class="card-title ellipsis"><%= book.title %></h7></a>
                  </div>
              </div>
            <% }) %>
            <div class="card mb-1 home-card" style="width: 10rem; cursor:pointer;" onclick="location.href='/books?type=베스트';">
              <div class="card-body p-2" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                <a><h7 class="card-title ellipsis">더보기</h7></a>
              </div>
            </div>
          <% } else { %>
            <p>등록된 도서가 없습니다.</p>
          <% } %>
        </div>
      </div>
      <div class="gallery" id="dodLib">
        <h5 class="mb-3">내 서재</h5>
        <div class="dodLib">
          <% if (isNaN(post)) { %>
            <% post.forEach(function(post) { %>
              <div class="card mb-1 home-card" style="width: 10rem; cursor:pointer;" onclick="location.href='/books/<%= post.book._id%>';">
                <img class="card-img-top" src="<%= post.book.cover %>">
                <div class="card-body p-2" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                  <a><h7 class="card-title ellipsis"><%= post.book.title %></h7></a>
                </div>
              </div>
              <div class="card mb-1 home-card" style="width: 10rem; cursor:pointer;" onclick="location.href='/books';">
                <div class="card-body p-2" style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap">
                  <a><h7 class="card-title ellipsis">더보기</h7></a>
                </div>
              </div>
            <% }) %>
          <% } else { %>
            <p>등록된 도서가 없습니다.</p>
          <% } %>
        </div>
      </div>
      <div class="gallery" id="reviewRank" height="585.5px">
        <h4>추천 BJ</h4>
        <ul class="contents-list user">
          <% rank.forEach(function(user) { %>
            <li class="list-item">
              <div class="user-list-item-container home">
                <div class="mainProfileBox">
                  <% if(user.users[0].profileImg) { %>
                    <a title="<%= user.users[0].username %>" class="" href="/users/<%= user.users[0].username%>" style="background-image: url('/imgs/<%= user.users[0].profileImg %>');"></a>
                  <% } else { %>
                    <a title="<%= user.users[0].username %>" class="" href="/users/<%= user.users[0].username%>" style="background-image: url('/imgs/noprofile');"></a>
                  <% } %>
                </div> 
                <div class="detail-wrap">
                  <div class="name-wrap">
                    <a title="<%= user.users[0].username %>" class href="/users/<%= user.users[0].username%>">
                      <p class="name text-box"><%= user.users[0].username %></p>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
      <div class="gallery" id="mylib" height="585.5px">
        <div>
          <h4>내가 선택한 BJ</h4>
          <% if (isNaN(myChoice)) { %>
            <ul class="contents-list user">
              <% myChoice.forEach(function(user) { %>
                <li class="list-item">
                  <div class="user-list-item-container home">
                    <div class="mainProfileBox">
                      <% if(user.users[0].profileImg) { %>
                        <a title="<%= user.users[0].username %>" class="" href="/users/<%= user.users[0].username%>" style="background-image: url('/imgs/<%= user.users[0].profileImg %>');"></a>
                      <% } else { %>
                        <a title="<%= user.users[0].username %>" class="" href="/users/<%= user.users[0].username%>" style="background-image: url('/imgs/noprofile');"></a>
                      <% } %>
                    </div> 
                    <div class="detail-wrap">
                      <div class="name-wrap">
                        <a title="<%= user.users[0].username %>" class href="/users/<%= user.users[0].username%>">
                          <p class="name text-box"><%= user.users[0].username %></p>
                        </a>
                      </div>
                    </div>
                  </div>
                </li>
              <% }) %>
            </ul>
          <% } else { %>
            <p>좋아요한 BJ가 없습니다.</p>
          <% } %>
        </div>
        <div>
          <h4>내가 좋아요한 리뷰</h4>
          <% if (isNaN(likeReview)) { %>
            <table class="board-table table table-sm border-bottom">

              <thead class="thead-light">
                <tr>
                  <th scope="col">제목</th>
                  <th scope="col" class="author">작성자</th>
                </tr>
              </thead>
    
              <tbody>
                <% likeReview.forEach(function(post) { %>
                  <tr>
                    <td>
                      <a href="/posts/<%= post._id %>"><div class="ellipsis"><%= post.title %></div></a>
                    </td>
                    <td class="author">
                      <div class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                    </td>
                  </tr>
                <% }) %>
              </tbody>
  
            </table>
          <% } else { %>
            <p>좋아요한 리뷰가 없습니다.</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>